* {
  font-family: sans-serif;
}

body {
  padding: 20px 60px;
}

input {
  width: 100%;
  font-size: 1rem;
  color: gray;
}

img {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.card {
  text-align: center;
  font-size: 0.8rem;
}
